html{
  scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Sansation Light;
    background-color: #E3E3E3;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  #our_work{
    scroll-margin-top: 120px;
  }

  #service_industries{
    scroll-margin-top: 70px;
  }
  
  .page-container{
    grid-row-gap: 3.12rem;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    display: flex;
    overflow: visible;
    margin: 0;
    padding: 0;
  }

  .splash-screen{
    overflow: hidden;
    flex-direction: column;
    justify-content: space-between;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background: url('assets/png/background1.png') no-repeat center center/cover;
    }
  
  .header {
    width: 100%;
    height: 11%;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; 
    box-sizing: border-box;

    z-index: 2;
  }

  .logo{
    width: 175px;
    height: 65px;
    white-space: nowrap;
  }
  
  .navigation {
    display: flex;
    gap: 20px;
    flex-wrap: wrap; 
    justify-content: flex-end;
    max-width: 100%;
    overflow: hidden;
  }
  
  .navigation a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    white-space: nowrap;
    cursor: pointer;
  }
  
  .content {
    flex-grow: 1; 
    text-align: center;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    padding: 10px;
  }
  
  .content h1 {
    font-size: 48px;
    margin-bottom: 7px;
  }
  
  .content p {
    font-size: 24px;
    margin-bottom: 31px;
  }
  
  .content .button {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 25px;
    font-size: 18px;
  }
  
  .content .button:hover {
    background: #333;
    transition: 0.3s;
  }

  .tech-wrapper{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .tech-wrapper::before{
    filter: blur(2px);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 110vh;
    background: url('assets/png/background2.png') no-repeat center center/cover;
    z-index: -1;
  }

  .dual-container-tech {
    margin-top: 50px;
    position: relative;
    z-index: 1;
    display: flex;
    border-radius: 25px;
    overflow: hidden;
    max-width: 1000px;
    margin: 50px auto 20px auto;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  }
  
  
  .left-container-tech, .right-container-tech {
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  /* Левая (черная) часть */
  .left-container-tech {
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
    color: white;
    align-items: center;
  }
  
  .left-container-tech .stat-item {
    margin-bottom: 20px;
  }
  
  .left-container-tech .number {
    font-size: 42px;
    font-weight: bold;
  }
  
  .left-container-tech .text {
    font-size: 20px;
    margin-top: 5px;
  }
  
  /* Правая (белая) часть */
  .right-container-tech {
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(5px);
    color: black;
  }
  
  .right-container-tech h3 {
    margin-top: 10px;
    font-size: 32px;
    text-align: center;
  }
  
  .tech-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }
  
  .tech-item {
    border: 1.3px solid #000;
    border-radius: 100rem;
    flex-direction: row;
    align-items: center;
    height: 2rem;
    padding-left: 1.13rem;
    padding-right: 1.13rem;
    display: flex;
  }

  .cust-wrapper{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .cust-wrapper::before{
    filter: blur(2px);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 110vh;
    background: url('assets/png/background3.png') no-repeat center center/cover;
    z-index: -1;
  }

  .customers{
    padding-left: 0;
    display: flex;
    flex-direction: column;
    z-index: 1;
  }

  .text-cust{
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }

  .text-cust h2{
    font-size: 40px;
    margin: 0;
  }

  .slider-container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    max-width: 1200px;
    margin: 0px auto;
  }

  .slider{
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  .slider-wrapper{
    overflow: hidden;
    max-width: 100%;
  }

  .card{
    flex: 0 0 400px;
    margin: 10px;
    border-radius: 25px;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 250px;
  }

  .card-content{
    padding: 20px;
    display: flex;
    justify-content: center;
  }

  .card-content img{
    width: 80%;
    height: 100%;
    object-fit: contain;
  }

  .btns{
    display: flex;
    gap:10px;
  }

 .slider-btn{
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  height: 53px;
  width: 53px;
  padding: 0;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
 }

 .slider-btn:hover{
  background-color: #9d9d9d00;
  transition: 1s;
 }

.slider-btn img{
  width: 45px;
  height: 45px;
  object-fit: contain;
}

.work-wrapper{
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.work-wrapper::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height: 120vh;
  background: url('assets/png/background4.png') no-repeat center center/cover;
  z-index: -1;
}

.work-wrapper::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width:100%;
  height: 120vh;
  background: url('assets/png/background5.png') no-repeat center center/cover;
  z-index: -1;
}


.text-work{
  font-size: 40px;
}

.dual-container-work {
  margin-top: 50px;
  position: relative;
  z-index: 1;
  display: flex;
  border-radius: 25px;
  overflow: hidden;
  max-width: 1200px;
  height: 160px;
  margin: 20px auto 20px auto;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.dual-container-work:hover .left-cont-work{
  background: rgba(255, 255, 255, 0.4);
  color: black;
}

.dual-container-work:hover .right-container-work{
  background: rgba(0, 0, 0, 0.6);
  color: white;
}

.left-cont-work {
  flex: 0 0 45%; 
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;

  transition: background 0.3s ease, color 0.3s ease;
}

.right-container-work{
  flex: 1; 
  backdrop-filter: blur(5px);
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  
  transition: background 0.3s ease, color 0.3s ease;
}

/* Левая черная часть */
.left-cont-work {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  color: white;
  align-items: start;
}

.left-cont-work .stat-item-work {
  margin-bottom: 20px;
}

.left-cont-work .number-work {
  font-size: 54px;
}

.left-cont-work .text-work {
  font-size: 35px;
  margin-top: 5px;
}
  
/* Правая (белая) часть */
.right-container-work {
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  color: black;
}

.right-cont-work-text p{
  font-size: 19px;
  padding-left: 10px;
  line-height: 1.2;
}

.develop-wrapper{
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.develop-wrapper::before{
  content: '';
  position: absolute;
  top: 0;
  min-width:100%;
  min-height: 100vh;
  background: url('assets/png/background6.png') no-repeat center;
  z-index: -1;
}

.tools-grid{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 40px;
  width: 100%;
  max-width: 1200px;
  position: relative;
}

.last-block{
  grid-column: 1/-1;
  justify-self: center;
  width: 50%;
}

.tools-cont{
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  padding: 20px;
  border-radius: 25px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  max-width: 500px;
  max-height: 200px; 
}

.title-tools{
  font-size: 30px;
  margin-bottom: 0px;
  display: block;
}

.text-tools{
  font-size: 20px;
}

.text-dvlp{
  font-size: 40px;
}

#service_industries{
  max-width: 1100px;
}

.services-wrapper{
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.services-wrapper::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 125vh;
    background: url('assets/png/background7.png') no-repeat center center/cover;
    z-index: -1;
}

.serv-ind-grid{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: auto auto auto;
  gap: 20px;  
  width: 100%;
  max-width: 1200px;
  position: relative;
}

.serv-ind-last{
  margin: 0 auto;
  width: 97%; 
  background: rgba(0, 0, 0, 0.5); 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  padding: 20px; 
  border-radius: 25px;
  color: white;
}

.ind-item {
  border: 1.5px solid #ffffff;
  border-radius: 100rem;
  flex-direction: row;
  align-items: center;
  height: 2.5rem;
  padding-left: 1.13rem;
  padding-right: 1.13rem;
  display: flex;
  font-size: 25px;  
}

.ind-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 15px;
}

.serv-ind-cont{
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(5px);
  padding: 20px;
  border-radius: 25px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  max-width: 500px;
  max-height: 200px; 
}

.serv-ind-title{
  font-size: 25px;
  margin-bottom: 0px;
  display: block;
}

.serv-ind-text{
  font-size: 19px;
}

.custom-servs{
  font-size: 40px;
}

.serv-ind-last-title{
  font-size: 35px;
}

  