body {
    margin: 0;
    font-family: Sansation Light;
    background-color: #E3E3E3;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .page-container{
    grid-row-gap: 3.12rem;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    display: flex;
    overflow: visible;
    margin: 0;
    padding: 0;
  }

  .splash-screen{
    overflow: hidden;
    flex-direction: column;
    justify-content: space-between;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background: url('assets/png/backgroung1.png') no-repeat center center/cover;
    }
  
  .header {
    width: 100%;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; 
    box-sizing: border-box;
  }

  .logo{
    width: 175px;
    height: 65px;
    white-space: nowrap;
  }
  
  .navigation {
    display: flex;
    gap: 20px;
    flex-wrap: wrap; 
    justify-content: flex-end;
    max-width: 100%;
    overflow: hidden;
  }
  
  .navigation a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    white-space: nowrap;
    cursor: pointer;
  }
  
  .content {
    flex-grow: 1; 
    text-align: center;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    padding: 10px;
  }
  
  .content h1 {
    font-size: 48px;
    margin-bottom: 7px;
  }
  
  .content p {
    font-size: 24px;
    margin-bottom: 31px;
  }
  
  .content .button {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 25px;
    font-size: 18px;
    transition: 1s;
  }
  
  .content .button:hover {
    background: #333;
  }

  .tech-wrapper{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .tech-wrapper::before{
    filter: blur(5px);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100vh;
    background: url('assets/png/background2.png') no-repeat center center/cover;
    z-index: -1;
  }

  .dual-container-tech {
    margin-top: 50px;
    position: relative;
    z-index: 1;
    display: flex;
    border-radius: 25px;
    overflow: hidden;
    max-width: 1000px;
    margin: 50px auto 20px auto;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  }
  
  
  .left-container, .right-container {
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  /* Левая (черная) часть */
  .left-container {
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
    color: white;
    align-items: center;
  }
  
  .left-container .stat-item {
    margin-bottom: 20px;
  }
  
  .left-container .number {
    font-size: 42px;
    font-weight: bold;
  }
  
  .left-container .text {
    font-size: 20px;
    margin-top: 5px;
  }
  
  /* Правая (белая) часть */
  .right-container {
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(5px);
    color: black;
  }
  
  .right-container h3 {
    margin-top: 10px;
    font-size: 32px;
    text-align: center;
  }
  
  .tech-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }
  
  .tech-item {
    border: 1.3px solid #000;
    border-radius: 100rem;
    flex-direction: row;
    align-items: center;
    height: 2rem;
    padding-left: 1.13rem;
    padding-right: 1.13rem;
    display: flex;
  }

  .customers{
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  .text-cust{
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }

  .text-cust h2{
    font-size: 40px;
    margin: 0;
  }

  .slider-container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    max-width: 1200px;
    margin: 0px auto;
  }

  .slider{
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  .slider-wrapper{
    overflow: hidden;
    max-width: 100%;
  }

  .card{
    flex: 0 0 400px;
    margin: 10px;
    border-radius: 25px;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .card-content{
    padding: 20px;
    display: flex;
    justify-content: center;
  }

  .card-content img{
    width: 80%;
    height: 100%;
    object-fit: contain;
  }

  .btns{
    display: flex;
    gap:10px;
  }

 .slider-btn{
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  height: 53px;
  width: 53px;
  padding: 0;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
 }

 .slider-btn:hover{
  background-color: #9d9d9d;
  transition: 1s;
 }

.slider-btn img{
  width: 45px;
  height: 45px;
  object-fit: contain;
}


  
  
  